body
{
	background-image:url('footer.PNG');
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:center bottom; 
}
footer
{
	height:20px;
	text-align:center;
}
footer p
{

	margin-top:300px;
}

.play-it
{
	background-image:url('hest2.PNG');
	width:120px;
	height:175px;
	background-position:center bottom; 
	margin-bottom:-15px;
	margin-top:-120px;
	margin-left:30px;

}

.sort-it
{
	background-image:url('hest3.PNG');
	width:100px;
	height:166px;
	background-position:center bottom; 
	margin-bottom:-20px;
	margin-top:-10px;
	margin-left:50px;

}

.full-width
{
	width:100%;
}
.thumbnail .caption h5, .thumbnail .caption p
{
	overflow:hidden;
}
.margin10
{
	margin-top:10px;
	margin-bottom: 10px;
}
.well-error
{
	background-color: #B94A48;
}
.well-success
{
	background-color: #468847;
}

h1 {
  font-size: 50px;
  line-height: 50px;
}
form input,form textarea,form select
{
	width:88%;
}
.no-decoration, .no-decoration:hover
{
	text-decoration: none;
}

.game-list-item
{

		width:230px;
}

.gameslist
{
	max-width: 920px;
}

.mainmenu-item
{
	font-size:2em;
	margin-bottom:0.75em;
	background-color:#E6EFF2;
	text-align:center;
	padding:5px;
}

.topmenu-item
{
	font-size:1.5em;
	margin-bottom:0.25em;
	background-color:#E6EFF2;
	text-align:center;
	padding:3px;
}

.list-none
{
	list-style-type:none; 
	padding:0;
	margin"0;
}

.left
{
	float:left;
}

.bg-grey
{
	background-color:#E6EFF2;

}

