{% extends "unicorn/editgame.html" %}
{% load oembed_tags %}

{% block editContent %}
{% load url from future %}


      <h3>Edit platforms and links</h3>
      <p>These links will be showed on the games page for easy access to download/play the game on different platforms. It will also be possible to sort/search the games based on available platforms.
      Just leave the URL field empty to not include a platform<br/><br/></p>

<form action="{% url 'games.views.editgameplatforms' id=game.id %}" method="post">
 {% csrf_token %}
 {% for link in links %}

          <label>{{link.platform.title}} URL:</label>
           <input id="{{link.platform.id}}" type="text" name="{{link.platform.id}}" maxlength="200" value="{{link.url}}">
       <br/><br/>

   

    {% endfor %}
    <p>
  <button type="submit" class="btn-primary">Save</button>
</p>
</form>

{% endblock %}