{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="span2">

    
 
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header">Sorting</li>
    	<li><a href="#">Featured</a></li>
    	<li><a href="#">Latest</a></li>
        <li><a href="#">Popular</a></li>
    
    
     <li class="nav-header">Category</li>

        <li><a href="#">Platformer</a></li>
        <li><a href="#">Puzzle</a></li>
        <li><a href="#">First person</a></li>
        <li><a href="#">Whatever</a></li>


     <li class="nav-header">Platform</li>

       <ul class="nav nav-pills nav-stacked">

    	
        <li><a href="#">Web</a></li>
    	<li><a href="#">Windows</a></li>
        <li><a href="#">Mac</a></li>
        <li><a href="#">Linux</a></li>
        <li><a href="#">Mobile</a></li>
    </ul>
    
</div>

  <div >
            <ul class="thumbnails">
              
              <li class="game-list-item pull-left">
                <div class="thumbnail">
                  <img src="http://placehold.it/230x200" alt="" class="img-rounded">
                  <div class="caption">
                    <h4>Game title</h4>
                    <p>A game about silly animals fighting with real physics. Whimsical, stupid and fun.</p>
                    
                  </div>
                </div>
              </li>

                <li class="game-list-item pull-left">
                <div class="thumbnail">
                  <img src="http://placehold.it/230x200" alt="" class="img-rounded">
                  <div class="caption">
                    <h4>Game title</h4>
                    <p>A game about silly animals fighting with real physics. Whimsical, stupid and fun.</p>
                    
                  </div>
                </div>
              </li>

                <li class="game-list-item pull-left">
                <div class="thumbnail">
                  <img src="http://placehold.it/230x200" alt="" class="img-rounded">
                  <div class="caption">
                    <h4>Game title</h4>
                    <p>A game about silly animals fighting with real physics. Whimsical, stupid and fun.</p>
                    
                  </div>
                </div>
              </li>

                <li class="game-list-item pull-left">
                <div class="thumbnail">
                  <img src="http://placehold.it/230x200" alt="" class="img-rounded">
                  <div class="caption">
                    <h4>Game title</h4>
                    <p>A game about silly animals fighting with real physics. Whimsical, stupid and fun.</p>
                    
                  </div>
                </div>
              </li>

                <li class="game-list-item pull-left">
                <div class="thumbnail">
                  <img src="http://placehold.it/230x200" alt="" class="img-rounded">
                  <div class="caption">
                    <h4>Game title</h4>
                    <p>A game about silly animals fighting with real physics. Whimsical, stupid and fun.</p>
                    
                  </div>
                </div>
              </li>


              
            </ul>
            <div class="pagination pagination-centered">
                <ul >
                 <li><a href="#">Previous</a></li>
                 <li class="inactive"><a href="#">1</a></li>
                 <li class="inactive"><a href="#">2</a></li>
                 <li class="inactive"><a href="#">3</a></li>
                 <li class="inactive"><a href="#">4</a></li>
                   <li><a href="#">Next</a></li>
               </ul>
            </div>

          </div>
 

</div>




{% endblock %}