{% extends "base.html" %}

{% block content %}
{% load url from future %}
{% load navigation %}

<div class="row">
<div class="span3">

     <div class="sort-it"> </div>
  <div class="well" >
      <ul class="nav nav-pills  nav-stacked">
        <li class="nav-header">Sorting</li>
    	<li><a href="#">Featured</a></li>
    	<li><a href="#">Latest</a></li>
        <li><a href="#">Popular</a></li>
    
    
     <li class="nav-header">Category</li>
      {% for cat in categories %}
        <li><a href="#">{{cat.title}}</a></li>
        {% endfor %}
     <li class="nav-header">Platform</li>
      {% for platform in platforms %}
        <li><a href="#">{{platform.title}}</a></li>
        {% endfor %}
    </ul>
    
</div>
</div>
  <div class="span9">
            <ul class="thumbnails">
              

              {% for game in games %}
         
                {% showgamethumbnail game  %}
               
              {% endfor %}


 </ul>
            <div class="pagination pagination-centered">
                <ul >
                   {% if games.has_previous %}
                    <li><a href="?page={{ games.previous_page_number }}">Previous</a></li>
  
                 {% endif %}
                 
                 {% for i in games.paginator.page_range %}
                  {% if games.paginator.num_pages < 10 or i == 1 or i == games.paginator.num_pages or  i >= games.number|add:-3 and i < games.number|add:3 %}
                 <li class="{%if games.number == i%} active {% else %} inactive {% endif%}"><a href="?page={{ i }}">{{i}}</a></li>
                 {% endif %}
                  {% endfor %}
                  
                 {% if games.has_next %}
            
             <li><a href="?page={{ games.next_page_number }}">Next</a></li>
        {% endif %}
               
               </ul>
            </div>


 </div>
 

</div>




{% endblock %}